.form {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 70vh;
  padding: 50px;
  background-color: #a3b4ff2a;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form__button-container {
  margin: 20px 0;
}