.form {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  width: 70vh;
  padding: 30px;
  background-color: #a3b4ff2a;
  border-radius: 10px;
  position: relative;
}

.form__button-container {
  margin: 20px 0;
}