.profil-container__page {
  width: 95vw;
}

.profil-container__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #a3b4ff2a;
  padding-top: 30px;
  padding-bottom: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

.profil-container__header__image-container {
  width: 9%;
  height: 10%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profil-container__header__image-containe__img {
  width: 100%;
  border-radius: 50%;
  opacity: 100%;
}

.profil-container__header__city {
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

.profil-container__header__user-infos {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profil-container__header__user-infos__buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60px;
  gap: 20px;
}

.profil-container__header__user-infos__buttons-container__icon {
  width: 6ch;
}

.follow {
  background-color: #1F2A44;
  color: #F8B179;
}

.follow:hover {
  color: #E8F0FE;
}

.profil-container__header__user-infos__stories-container {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-inline: 10px;
}

.profil-container__header__user-infos__stories-container__text {
  display: flex;
  font-weight: 700;
}

.profil-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.profil-content__links-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  background-color: #a3b4ff2a;
}

.profil-content__links {
  padding: 10px 35px;
  font-weight: 700;
  color:#dce7ff
}

.default {
  background-color: #1f2a44a2;
}
