.stories-buttons-container {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-right: 40px;
}

.stories-buttons-container__buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.stories-buttons-container__buttons__icon-button {
  width: 4ch;
}

.stories-container {
  min-height: 70vh;
  width: 98vw;
}
