.card-container {
  min-width: 60vh;
  padding: 30px;
  background-color: #a3b4ff2a;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.large {
  height: auto
}

.min {
  height: 350px;
}

.card-container__icons {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
  color: #F8B179;
  background-color: transparent;
}

.card-container__icons:hover {
  color: #d8782e;
}

.card-container__title {
  margin-top: 0;
}

.card-container__subtitle {
  margin-bottom: 0;
}

p {
  margin: 0;
}

.rotate {
  rotate: 180deg;
}

.card-container__description-min {
  text-align: justify;
  display: -webkit-box; 
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-container__description-max {
  text-align: justify;
}

.card-container__description-min__less-more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F8B179;
}

.card-container__link {
  cursor: pointer;
}
