.card-container {
  width: 80vh;
  padding: 30px;
  background-color: #a3b4ff2a;
  border-radius: 10px;
  position: relative;
}

.large {
  height: auto
}

.min {
  height: 350px;
}

.card-container__icons {
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
  color: #747bff;
  background-color: transparent;
}

.card-container__title {
  margin-top: 0;
}

.card-container__subtitle {
  margin-bottom: 0;
}

p {
  margin: 0;
}

.rotate {
  rotate: 180deg;
}

.card-container__description-min {
  text-align: justify;
  display: -webkit-box; 
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-container__description-max {
  text-align: justify;
}

.card-container__link {
  cursor: pointer;
}
