.card-container {
  min-width: 350px;
  height: 300px;
  padding: 25px;
  background-color: #c3ceff2a;
  position: relative;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
}

.card-container__right-icons-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 4%;
  right: 3%;
  z-index: 1;
  gap: 10px;
}

.card-container__edit-icon {
  align-items: center;
  background-color: #F8B179;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 99px;
  color: #1F2A44;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 5px;
  z-index: 1;
}

.card-container__date-container {
  position: absolute;
  left: 2%;
  top: 0%;
  font-size: 0.8em;
  color: #ececec;
  background-color: #1F2A44;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.card-container__image-container {
  position: relative;
  height: 55%;
  width: 100%;
  border-radius: 4px 4px 0 0;
  background-color: #ececec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container__image-container__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container__icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 24px;
  cursor: pointer;
}

.image-icon {
  font-size: 80px;
  color: #1F2A44;
}

.card-container__text-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5px;
  margin: 15px 0;
}

.card-container__title {
  margin: 0;
  font-size: 1.8em;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  display: -webkit-box; 
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-container__subtitle {
  display: flex;
  align-items: center;
  gap: 5px
}

.card-container__descrption-buttons-container {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 5px;
  height: 50px;
}

.card-container__description {
  text-align: left;
  min-width: 60%;
  font-size: 0.9em;
  text-overflow: ellipsis;
  display: -webkit-box; 
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: normal;
}

.card-container__button-container {
  gap: 5px;
  display: flex;
  align-items: flex-end;
  color: #F8B179;
  background-color: transparent;
  bottom: 0;
}

.card-container__button {
  background-color: #1F2A44;
  color: #E8F0FE;
  border-radius: 2px;
  margin: 0 10px;
  padding: 7px 11px;
  font-size: 0.9em;
  text-wrap: nowrap;
}

.card-container__button:hover {
  color: #F8B179;
}

p {
  margin: 0;
}

.confirm-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #354163;
  border: 1px solid #acacac9a;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  padding: 10px;
  position: absolute;
  translate: -50% -50%;
  min-width: 25vw;
  height: 20vh;
}
