.menu-items {
  cursor: pointer;
  background-color: #354163;
  width: 100%;
  padding: .286rem .700rem;
  display: flex;
  justify-items: start;
}

.filters-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.filters-container__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #354163;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.filter-container__items__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  margin: 0;
  background-color: #cecece;
}

.filter-container__items__span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  color: #969696;
}