.input-container {
  padding: 3px 0;
  margin-bottom: 7px;
}

.label {
  width: 100%;
}

.input {
  width: 98.5%;
  height: 25px;
  padding: 5px;
  padding-inline: 10px;
  font-size: 1em;
  border: none;
  background-color: #E8F0FE;
  font-family: "Figtree", sans-serif;
}

.input:focus {
  outline: none;
}