.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  list-style: none;
  gap: 100px;
  padding: 20px 30px;
}

.nav-container__list__sign-up {
  background-color:#f8b179;
  padding: 10px;
  color: #1f2a44;
  border-radius: 3px;
}

a:hover {
  color: #d46d1e
}