.form-container {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container__close-button {
  color: #F8B179;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 1.5%;
}

.form-container__close-button:hover {
  color: #b86a2e;
}

.form-container__form {
  width: 100%;
  text-align: left;
}

.form-container__title {
  margin: 20px;
}

.form-container__buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 0;
}

.form-container__buttons-container__cancel-button {
  background-color: transparent;
  color: #F8B179;
  border: #F8B179 1px solid;
}

.form-container__buttons-container__cancel-button:hover {
  border: #b86a2e 1px solid;
  transition: none;
}